.meterContainer {
        /* position: relative;
        
        .unit {
            background-color: yellow;
            width: 10px;
            height: 10px;
            position: absolute;   
        } */
}